/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  /*background-image: url(main_bg.jpg);*/
  background-color: rgba(250,245,245,1);
}

.menubar {
  position: fixed !important;
  position: absolute;
  z-index: 1;
  clear: both;
  background-color: rgba(128,119,115,0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  /*border-bottom: 1px dotted #ccc;*/
}

.menubar a:link {
  color: #000000;
  text-decoration: none;
}

.menubar a:visited {
  color: #000000;
  text-decoration: none;
}

.menubar a:hover {
  color: #333333;
  background-color: rgba(128,119,115,0);
  text-decoration: none;
}

ul.mainmenu {
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  float: right;
  text-transform: uppercase;
  font-weight: 100;
}

ul.mainmenu li {
  display: inline-block;
  padding: 5px 20px 5px 20px;
  font-size: medium;
}

#container {
  z-index: 0;
  position: relative;
  top: 0px;
  bottom: 0px;
  width: 100%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 50px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

#main {
  z-index: 0;
  padding: 0px 0px 50px 0px;
}

#footer {
  z-index: 1;
  position: absolute;
  text-align: center;
  background-color: rgba(128,119,115,0.7);;
  bottom: 0;
  width: 100%;
  height: 50px;
}



