<% content_for :main do %>

  <p>
    <b>
      <%= @category.name %>
    </b>
  </p>

  <%= link_to 'Entries', entries_path %>
  <%= link_to 'Categories', categories_path %>

  <%= render 'shared/entries' %>

<% end %>
